#content {
  font-family: "Droid Sans Mono", ;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

code {
  color: #3387cc;
}

pre {
  code {
    font-family: "Droid Sans Mono", ;
  }
}
